#contact-container {
    width: 26rem;
    max-width: 70vw;
    background-color: white;
    border: solid #3B4B65 2px;
    color: #3B4B65;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-solution {
    text-align: center;
    margin: 2rem;
}

.contact-info {
    font-weight: 900;
    margin-top: 0.5rem;
}